.popover-md .popover-content {
  top: 553.214px;
  left: 70%;
  transform-origin: right bottom;
  transform: scale(1);
  width: 25%;
}
.select-text {
  font-size: 1.2em;
  color: #696666;
}

.footerStyle {
  .toolbar-background-md {
    background: #ffffff;
  }
}

// .content-md {
//   // color: #000;
//   /* background-color: #fff; */
//   background: transparent;
// }
page-history-device {
  .rangeDiv {
    display: flex;
    // position: absolute;
    // top: -86px;
    // background: white;
    // border-radius: 12px;
    // padding: 15px 20px;
    padding: 5px;
    left: 20pc;
    // box-shadow: rgba(0, 0, 0, 0.16) 4px 2px 10px;
  }

  #map_canvas {
    height: 99%;
    // height: 300px;
    width: 100%;
  }
  .custItem {
    .select-text {
      min-width: 80px;
    }
  }
  .datetime-md,
  .datetime-ios {
    // padding: 13px 8px 0px 0px;
    padding: 0px;
    // margin: -8%;
  }

  .text-input-md,
  .text-input-ios {
    margin: -1px;
    padding: 0;
    // width: calc(100% - 8px - 8px);
    width: auto;
  }

  .avtar img {
    width: 20px;
    height: 20px;
    margin-right: 2.5%;
    margin-top: 4%;
  }
  .col1 {
    min-width: 150px;
  }

  .divPlan {
    background: transparent;
  }

  input[type="range"] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #888d91;
    border-radius: 1.3px;
    border: 0.2px solid #888d91;
  }
  input[type="range"]::-webkit-slider-thumb {
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    // border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #e31e25;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
    margin-left: -2px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #888d91;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #888d91;
    border-radius: 1.3px;
    border: 0.2px solid #888d91;
  }
  input[type="range"]::-moz-range-thumb {
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    // border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #e31e25;
    cursor: pointer;
    margin-top: -8px;
    margin-left: -2px;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type="range"]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type="range"]::-ms-thumb {
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    // border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #e31e25;
    cursor: pointer;
    margin-top: -8px;
    margin-left: -2px;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #367ebd;
  }
}
